<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block head %}
  <title>{{ title }}</title>
  <meta charset="utf-8" />
  {% if FEED_ALL_ATOM %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }}" />
  {% endif %}
  {% endblock head %}
  <style>
    body {
      max-width: 40em;
      display: block;
      margin: 0 auto;
    }
    code {
      background-color: lightgray;
    }
    code.boxed {
      font-size: 80%;
      display: block;
      border: 0.1em dashed;
    }
  </style>
</head>

<body>
  {% block content %}
  {% endblock %}
</body>
</html>
